/*全体のスタイル調整*/
* {
  box-sizing: border-box;
}

/*bodyの初期スタイルの調整*/
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans Jp", "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

/*初期スタイル調整*/
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}
h3 {
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify;
}

address {
  font-style: normal;
}
a {
  color: #666;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
}
/*h2への指定*/
.h2-title {
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}
/*擬似要素を使った◆の指定*/
.h2-title::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: #a5d1ff;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  transform: rotate(45deg);
  z-index: -100;
}
.txt-center {
  text-align: center;
}
.txt-lead {
  font-weight: 700;
}
/*ボタン共通（ベース）の設定*/
.btn {
  display: block;
  padding: 20px 35px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
}
.btn:hover,
.btn:focus {
  background: rgba(0, 0, 0, 0, 7);
  cursor: pointer;
}
/*Web予約ボタン*/
.btn-reserve {
  color: #fff;
  background: #6699ff;
}
/*コンテンツを格納するスタイル*/
.inner {
  padding: 0 15px;
  margin: 0 auto;
}
/*PC用のスタイル*/
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1200px;
  }
}
/*モバイルとPCでの表示に関するスタイル*/
.sp-only {
  display: block;
}
.pc-only {
  display: none;
}
/*PC用のスタイル*/
@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}
/*headerのスタイル*/
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
}
/*サイトロゴとナビゲーションの並び*/
.header-logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*サイトのロゴ表示*/
.logo-area {
  width: 200px;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .logo-area {
    width: 250px;
  }
}
.gnav-toggle {
  position: relative;
  margin-top: 12px;
}
.gnav-hidden {
  display: none;
}
#gnav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
#gnav-open span,
#gnav-open span::before,
#gnav-open span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  cursor: pointer;
}
#gnav-open span::before {
  bottom: -8px;
}
#gnav-open span::after {
  bottom: -16px;
}

#gnav-close {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#gnav-input:checked ~ #gnav-close {
  display: block;
  opacity: 0.5;
}
#gnav-input:checked ~ #gnav-content {
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}
#gnav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
}
.gnav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.gnav-item {
  border-bottom: 2px dotted #eee;
  margin: 10px;
  padding-bottom: 20px;
}
.gnav-item a {
  color: #fff;
  font-size: 12px;
  display: block;
  width: 200px;
  text-align: center;
}
.gnav-item a::first-line {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .gnav-menu {
    flex-direction: row;
    padding-right: 15px;
    margin: 0;
  }
  .gnav-item {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
  }
  .gnav-item a {
    color: #333;
    width: 120px;
  }
  .gnav-item:hover {
    color: #85a7cc;
  }
}
/*sectionのスタイル*/
.mv-area {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*h1のスタイル*/
.mv-title {
  color: #fff;
  text-shadow: 0px 0px 3px #333;
  margin-top: 70px;
}
@media screen and (min-width: 768px) {
  .mv-area {
    width: 100%;
    height: 600px;
  }
  .mv-title {
    margin-top: 90px;
  }
}
/*レイアウト関連*/
.inner {
  padding: 0 15px;
  margin: 0 auto;
}
/*sectionのスタイル*/
.info-area {
  background-color: #85a7cc;
}
.info-txt {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .info-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .info-txt {
    flex: 1;
    margin-left: 30px;
  }
  .info-area img {
    flex: 1;
  }
}
/*sectionのスタイル*/
.servive-area {
  background-color: #fff;
}
/*サービスリスト(ul)*/
.service-content {
  display: flex;
  flex-wrap: wrap;
}

/*サービスアイテム(li)*/
.service-item {
  flex: 40%;
  text-align: center;
  padding: 20px 20px 0;
  margin: 5px;
  border: 3px solid #527acc;
  border-radius: 10px;
}
/*アイコン画像の情報*/
.service-item img {
  width: 120px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /*サービスリスト*/
  .service-content {
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*サービスアイテム*/
  .service-item {
    flex: 1;
  }
}
/*sectionのスタイル*/
.plan-area {
  background-color: #f0f0f0;
}
/*プランリスト*/
.plan-content {
  display: flex;
  flex-direction: column;
}
/*プランアイテム*/
.plan-item {
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px #aaa;
}
/*写真以外の情報*/
.plan-info {
  padding: 0 15px 15px;
}
/*プラン名*/
.plan-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #527acc;
}
/*利用料金*/
.plan-price {
  text-align: center;
  padding: 10px;
  border: 2px solid #527acc;
}
/*リストマーカー*/
.plan-list li::before {
  content: "";
  background: url(../img/list-marker.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 3px;
}
@media screen and (min-width: 768px) {
  .plan-content {
    flex-direction: row;
  }
  .plan-item {
    flex: 1;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*sectionのスタイル*/
.access-area {
  padding-bottom: 0;
}
/*写真のスタイル*/
.access-area img {
  display: block;
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto 30px;
}
/*マップ表示枠の指定*/
.access-maparea {
  position: relative;
  padding-top: 100%;
}
/*GoogleMapに追加*/
.access-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  /*アクセス情報*/
  .access-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
  }
  /*マップの表示枠の指定*/
  .access-maparea {
    position: relative;
    padding-top: 30%;
  }
}
/*pegetop全体のスタイル*/
.pagetop {
  text-align: right;
  padding: 15px;
  background-color: #f0f0f0;
}
/*リストマーカーのスタイル*/
.pagetop a::after {
  content: "";
  background: url(../img/list-marker.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 3px 10px;
  transform: rotate(-90deg);
}
/*footer全体のスタイル*/
.foot-area {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  background-color: #596680;
}
/*ロゴ画像のスタイル*/
.foot-logo {
  margin: 0 auto 20px;
}
/*電話番号のスタイル*/
.text-phone,
.text-phone a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
/*著作権表示のスタイル*/
.foot-area_copy {
  color: #ccc;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #333;
}
@media screen and (min-width: 768px) {
  a[herf^="tel:"] {
    pointer-events: none;
  }
}
