@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP',
    'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ W3', 'Hiragino Kaku Gothic ProN',
    'メイリオ', Meiryo, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

.heading-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 0.5em;
}

a {
  color: #75af57;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding: 0;
  list-style: none;
}

section,
article {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .heading-title {
    font-size: 36px;
  }
}

@media screen and(min-width:768px) {
  body {
    font-size: 16px;
  }
  .heading-title {
    font-size: 48px;
  }
}

.header-button {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border: none;
  width: 75px;
  height: 75px;
  background-color: transparent;
  z-index: 100;
}

.header-button .icon {
  display: block;
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: 0.3s ease;
}

.header-button .icon:before,
.header-button .icon:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
  background-color: #333;
}

.header-button .icon:before {
  top: -8px;
}

.header-button .icon:after {
  top: 8px;
}

/*ナビゲーションのCSS*/
.header-gnav {
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.9);
  transform: translateX(100%);
  transition: 0.3s ease;
}
.header-gnav ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-gnav a {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  display: block;
  padding: 0.8em;
}

@media screen and (min-width: 768px) {
  .header-gnav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and(min-width: 992px) {
  header {
    padding-top: 30px;
  }
  header .header-logo {
    flex: none;
  }
  header .header-logo img {
    width: 360px;
  }
}

/*フッター*/
footer {
  margin: 70px 0 10px;
  text-align: center;
}

/*topPageハンバーガーメニュー*/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 15px 10px;
  position: relative;
  z-index: 100;
}

.open .header-button .icon {
  background-color: transparent;
}

.open .header-button .icon:before,
.open .header-button .icon:after {
  top: 0;
}

.open .header-button .icon:before {
  transform: rotate(45deg);
}

.open .header-button .icon:after {
  transform: rotate(-45deg);
}

.open .header-gnav {
  transform: translateX(0);
}

.top .icon {
  background-color: #eee;
}
.top .icon:before,
.top .icon:after {
  background-color: #eee;
}

.top.open .icon {
  background-color: transparent;
}

.top.open .icon:before,
.top.open .icon:after {
  background-color: #000000;
}

.hero {
  background: url('../img/photo-hero.jpg') no-repeat center center/cover;
  max-width: 1300px;
  height: 420px;
  margin: -70px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 10;
}

.hero h1 {
  font-size: 31px;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #fff;
}

.hero p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-top: 0;
}

/*コンテンツ*/
.top-feature {
  text-align: center;
}

.top-feature .top-feature_box {
  padding: 0 30px 20px;
}

.top-feature h2 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.top-feature p {
  text-align: left;
}

.top-feature a {
  padding-bottom: 0.2em;
  border-bottom: 2px solid #75af57;
  font-size: 18px;
}
